# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/{{ pg_db }}
spring.datasource.username={{ pg_user }}
spring.datasource.password={{ pg_password }}

# RabbitMQ Configuration
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username={{ rabbitmq_user }}
spring.rabbitmq.password={{ rabbitmq_password }}

# Application Configuration
server.port=3000
spring.application.name=stage_5b

# JWT Configuration
sha512.string={{ sha512_string }}

# Add any other necessary configuration properties here